header {
    background-color: black;
    padding-top: 5px;
    border-radius: 70px;
}

.logo {
    position: relative;
    border-radius: 100px;
    height: 3cm;
    width: 3cm;
    left: 20px;
    top: 7px;
}

nav {
    position: relative;
    text-align: right;
    bottom: 65px;
    right: 80px;
}

.stats {
    position: relative;
    right: 100px;
    color: goldenrod;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.stats:hover {
    background-color: white;
    color: black;
}

.reg {
    position: relative;
    right: 50px;
    color: azure;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.reg:hover {
    background-color: white;
    color: black;
}

.quiz {
    color: azure;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.quiz:hover {
    background-color: white;
    color: black;
}

body {
    position: relative;
    height: 600px;
    background-color: #728FCE;
    background-size: cover;
}

div {
    position: relative;
    text-align: center;
    top: 25px;
}

table {
    position: relative;
    left: 375px;
    border: none;
}

th {
    background-color: goldenrod;
    padding: 10px;
}

td {
    background-color: aqua;
}

footer {
    position: relative;
    background-color: grey;
    padding: 12px;
    width: 1342px;
    margin-left: -8px;
    top: 64px;
}

.socmed {
    position: relative;
    bottom: 10px;
    left: 35px;
}

.facebook {
    position: relative;
    width: 1cm;
    height: 1cm;
    border-radius: 25px;
    top: 4px;
    left: 40px;
}

.IG {
    position: relative;
    width: 1cm;
    height: 1cm;
    border-radius: 25px;
    top: 4px;
    left: 45px;
}

.phone {
    position: relative;
    width: 1cm;
    height: 1cm;
    border-radius: 25px;
    top: 4px;
    left: 50px;
}

.copyright {
    position: relative;
    bottom: 10px;
    left: 9in;
}